In [131]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option("max_columns",None)
pd.set_option("max_rows",None)

In [6]:
df = pd.read_json("contacts.json")
df.head(10)

,Id,Email,Phone,Contacts,OrderId
0,0,gkzAbIy@qq.com,,1,
1,1,,329442681752,4,vDDJJcxfLtSfkooPhbYnJdxov
2,2,,9125983679,0,
3,3,mdllpYmE@gmail.com,,0,bHquEnCbbsGLqllwryxPsNOxa
4,4,,300364407,2,
5,5,,840113148,0,
6,6,hESiBgYTxMnj@hotmail.com,,4,
7,7,hqyunTiaXfIjhO@yahoo.com,,1,vxjYZtMUvNhtEBDruzQfjpsmX
8,8,XGUjcSiDpFKWEUCs@qq.com,223604620644,2,
9,9,osIIQgAiZX@hotmail.com,,0,IqewrMXVTJqSsVklWFfOpdRNI

In [123]:
def getsumContact(contactcontactList):
    return np.sum(contactList)

def getEmail(Email):
    if Email == "":
        return
    ans = df[df["Email"] == Email]
    return ans

def getPhoneNumber(phoneNumber):
    if phoneNumber == "":
        return
    ans = df[df["Phone"] == phoneNumber]
    return ans 

def getOrderId(order):
    ans = df[df["OrderId"] == order]
    return ans

In [124]:
getEmail("TIMejlVYhfqjy@gmail.com")

,Id,Email,Phone,Contacts,OrderId
50,50,TIMejlVYhfqjy@gmail.com,840113148,4,XBkNrwcWWslDvSQdhYPfCpQJo

In [140]:
def solve(email = "",phoneNumber = ""):
    ansPhonedf = ""
    ansEmaildf = ""
    ansContacts= ""
    ansOrder = ""
    
    if email != "":
        ansEmaildf = getEmail(email)
    if phoneNumber != "":
        ansPhonedf = getPhoneNumber(phoneNumber)
    if len(email) != 0 and len(phoneNumber) != 0:
        ansContacts = str(np.nansum(ansEmaildf['Contacts'] + ansPhonedf["Contacts"],dtype=int))
        ansId = map(str,sorted(list(set(ansEmaildf["Id"].to_list() + ansPhonedf["Id"].to_list()))
                           ,reverse=False))
        ansId = "-".join(ansId)
        ans = ansId + ", "+ (ansContacts)
    elif len(email) == 0:
        ansContacts = str(np.nansum(ansPhonedf["Contacts"],dtype=int))
        ansId = map(str,sorted(list(set(ansPhonedf["Id"].to_list()))
                           ,reverse=False))
        ansId = "-".join(ansId)
        ans = ansId + ", "+ (ansContacts)       
    elif len(phoneNumber) == 0:
        ansContacts = str(np.nansum(ansEmaildf["Contacts"],dtype=int))
        ansId = map(str,sorted(list(set(ansEmaildf["Id"].to_list()))
                           ,reverse=False))
        ansId = "-".join(ansId)
        ans = ansId + ", "+ (ansContacts)          
    return ans
    

    
    
solve("TIMejlVYhfqjy@gmail.com")

'50, 4'

In [ ]:
dfAns = pd.DataFrame()
dfAns["ticket_id"] = df["Id"].copy()
dfAns["ticket_trace/contact"] = df.apply(lambda x : solve(x["Email"],x["Phone"]),axis=1)

In [142]:
dfAns.head(9)

   ticket_id   ticket_trace/contact
0          0                   0, 1
1          1                   1, 4
2          2            2-348955, 0
3          3                   3, 0
4          4                   4, 2
5          5                5-50, 4
6          6  6-38-32871-142067, 10
7          7                   7, 1
8          8            8-183160, 4

In [145]:
df.loc[0]

Id                       0
Email       gkzAbIy@qq.com
Phone
Contacts                 1
OrderId
Name: 0, dtype: object

In [146]:
df.loc[1]

Id                                  1
Email
Phone                    329442681752
Contacts                            4
OrderId     vDDJJcxfLtSfkooPhbYnJdxov
Name: 1, dtype: object

In [147]:
dfAns.to_csv("ans.csv",index=False)